:root {
    --gray100: #F8F9FA;
    --gray200: #E9ECEF;
    --gray300: #DEE2E6;
    --gray400: #CED4DA;
    --gray500: #ADB5BD;
    --gray600: #6C757D;
    --gray700: #495057;
    --gray800: #343A40;
    --gray900: #212529;
}

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
        
body {
    background-color: var(--gray100);
}
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 700;
    color: var(--gray900);
}
.h1 {
    font-size: 40px;
}
.h2 {
    font-size: 32px;
}
.h3 {
    font-size: 28px;
}
.h4 {
    font-size: 24px;
    margin-bottom: 0;
}
.h5 {
    font-size: 20px;
}
.h6 {
    font-size: 16px;
}
.btn {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 50rem;
    width: auto !important;
    padding: 10px 26px !important;
    min-height: 48px;
    align-items: center;
    display: flex;
    gap: 8px;
}
.header {
    background-color: #f2f2f2;
    height: 80px;
}
.busca-visualizacao {
    display: flex;
    justify-content: space-between;
    background-color: var(--gray500);
    padding-top: 12px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 12px;
}
nav.barra-acessibilidade,
nav.barra-acessibilidade ul {
    background-color: #e7e7e9;
    width: 100%;
}
.barra-acessibilidade a {
    font-family: "Nunito", sans-serif;
    font-size: 13px;
    display: flex;
    align-items: center;
}
.barra-acessibilidade button,
.barra-acessibilidade .form-check-label {
    background-color: transparent;
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    color: #000;
}
.form-switch {
    display: flex;
    align-items: center;
    padding-left: 40px;
    color: #000000;
}
.barra-acessibilidade #switchPesquisa {
    margin-top: 0;
}
.barra-acessibilidade ul li {
    display: flex;
    align-items: center;
}
#containerTable {
    max-width: 1450px;
    padding-bottom: 2rem;
}
#formPesquisa,
#optionsView {
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    height: 52px;
    gap: 2px;
    padding-right: 6px;
}
.form-floating > .form-select,
.form-floating > .form-control,
.form-floating > .form-control:focus {
    min-height: unset;
    height: unset;
    padding-top: 16px;
    padding-bottom: 8px;
}
.form-floating > .form-select ~ label {
    padding-top: 4px;
}
.form-floating > label,
.form-floating > .form-control:focus label {
    padding-top: 8px;
}
#nomeFiltro {
    background-color: transparent;
    border: none;
    border-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 22px;
    padding-top: 18px !important;
}
.label-nome {
    padding-left: 22px !important;
}
#filtroSerie {
    border-radius: 0;
    border: 0;
}
#formPesquisa button,
#toggleViewBtn {
    border: 1px solid var(--gray800);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px !important;
    height: 44px;
    margin-top: 2px;
    margin-bottom: 2px;
    min-height: unset;
    border-radius: 50px;
    padding: 0 !important;
    font-size: 17px;
}
#btnPesquisa,
#toggleViewBtn {
    background-color: var(--gray800);
    color: #fff;
}
#btnResetPesquisa {
    color: var(--gray800);
    margin-left: 4px;
}
#formPesquisa button:hover,
#formPesquisa button:focus,
#toggleViewBtn:hover,
#toggleViewBtn:focus {
    background-color: var(--gray900);
    border: 1px solid var(--gray900);
    color: #fff !important;
}
#formPesquisa .barra {
    background-color: var(--gray400);
    display: flex;
    width: 1px;
    height: 44px;
}
.form-floating > label {
    color: var(--gray700);
}
#periodos {
    padding: 10px;
    margin-bottom: 0;
}
#periodos li {
    border-right: solid 2px var(--gray600);
}
#periodos li a {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: var(--gray900);
}
.elemento {
    border: 0;
}
.elemento:hover,
.elemento:focus {
    filter: brightness(120%);
}
@media (min-width: 1000px) {
    .elemento:hover,
    .elemento:focus {
        position: relative;
        margin: -15px;
        z-index: 10;
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.15);
        border: 2px solid #000;
    }
    .elemento:hover span.simbolo,
    .elemento:focus span.simbolo {
    font-size: 1.5rem;
    }
    .elemento:hover small,
    .elemento:focus small {
    font-size: 0.9rem;
    }
    .elemento:hover div:nth-child(2),
    .elemento:focus div:nth-child(2) {
    font-size: 1rem;
    }
    .periodic-table {
    grid-auto-rows: minmax(75px, 1fr);
    }
}
.periodos {
    opacity: 0;
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    height: 0;
}
.periodos:focus-within {
    opacity: 1;
    z-index: 1;
    height: auto;
}
#visualizacao {
    background-color: transparent;
    border: none;
    border-radius: 50px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 22px;
    width: 150px;
}
#optionsView label {
    padding-left: 22px;
}
.sobreBtn {
    background-color: var(--gray100);
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: var(--gray900);
    border: 2px solid var(--gray900);
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
}
.sobreBtn:hover {
    background-color: #fff;
    color: var(--gray900);
    text-decoration: none;
}
#modalSobre .modal-dialog {
    max-width: 700px;
}
#modalSobre .modal-footer {
    justify-content: center;
}
.tittle img {
    margin-right: 0.5rem;
}
.tittle h1 {
    color: var(--gray900);
}
nav button.navbar-toggler {
    margin-left: 1.5rem;
    font-size: 25px;
    padding: 8px;
    border-radius: 6px;
    color: var(--gray900);
    border: 2px solid var(--gray700);
    margin-top: 10px;
    margin-bottom: 10px;
}
.legenda-tabela ul {
    list-style: none;
    padding-left: 0;
}
.legenda-tabela ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}
.legenda-tabela .cor {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}
.legenda-tabela .cor.cor-hidrogenio {
    background-color: #C2C2C2;
}
.legenda-tabela .cor.cor-metais-alcalinos {
    background-color: #FF7327;
}
.legenda-tabela .cor.cor-metais-alcalinos-terrosos {
    background-color: #FFC800;
}
.legenda-tabela .cor.cor-metal-transicao {
    background-color: #FF5E5E;
}
.legenda-tabela .cor.cor-lantanideos {
    background-color: #48DB9B;
}
.legenda-tabela .cor.cor-actinideos {
    background-color: #FB7ED4;
}
.legenda-tabela .cor.cor-outros-metais {
    background-color: #72E534;
}
.legenda-tabela .cor.cor-nao-metais {
    background-color: #AD9B65;
}
.legenda-tabela .cor.cor-halogenios {
    background-color: #67B4E4;
}
.legenda-tabela .cor.cor-gases-nobres {
    background-color: #CF4DFF;
}
.btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
}
#elementHeaderDetails div.col-5 {
    padding-left: 0;
    padding-right: 0;
}
#modalSobre .btn-close,
#elementHeaderDetails button {
    opacity: 1;
}
#modalSobre img {
    border-radius: 6px;
}
.highContrast nav.barra-acessibilidade ul li a,
.highContrast #toggleThemeBtn {
    color: #FFF;
}
.highContrast #toggleThemeBtn:hover {
    background-color: transparent;
    text-decoration: underline;
}
.highContrast .tittle img {
    filter: brightness(100);
}
.highContrast .tittle h1 {
    color: #fff;
}
.highContrast .busca-visualizacao {
    background-color: #000;
    border-bottom: 1px solid #fff;
}
.highContrast #formPesquisa, .highContrast #optionsView {
    background-color: #000;
    outline: .1rem solid #FFFFFF !important;
}
.highContrast #nomeFiltro,
.highContrast #filtroSerie,
.highContrast #visualizacao {
    border: 0 !important;
}
.highContrast .form-floating {
    border-radius: 26px;
}
.highContrast #formPesquisa button,
.highContrast #toggleViewBtn {
    border: 1px solid #fff;
}
.highContrast #btnPesquisa,
.highContrast #toggleViewBtn {
    background-color: #fff;
    color: #000;
}
.highContrast #btnResetPesquisa {
    color: #fff;
}
.highContrast #formPesquisa button:hover,
.highContrast #formPesquisa button:focus,
.highContrast #toggleViewBtn:hover,
.highContrast #toggleViewBtn:focus {
    background-color: var(--gray100);
    border: 1px solid var(--gray100);
    color: #000 !important;
}
.highContrast nav button.navbar-toggler {
    color: #fff;
    border: 2px solid var(--gray100);
}
.highContrast nav button.navbar-toggler:hover {
    color: #000;
}
.highContrast .form-select {
    filter: brightness(5);
}
.highContrast #modalSobre .modal-title {
    color: #fff;
}
.highContrast #modalSobre .btn-close {
    filter: brightness(100);
}
.highContrast #periodos li a {
    color: #fff;
}
.highContrast .form-floating {
    background-color: transparent !important;
}
@media (max-width: 992px) {
    #opcoes {
        flex-direction: column;
        align-items: flex-start;
    }
    .busca-visualizacao {
        gap: 15px;
        display: grid;
        grid-template-columns: 1fr 208px;
        align-items: flex-end;
    }
    #formPesquisa, #optionsView {
        width: fit-content;
    }
    .searchOptions,
    #formPesquisa {
        width: 100%;
    }
    #periodos {
        flex-wrap: wrap;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        row-gap: 20px;
    }
    nav.barra-acessibilidade ul,
    nav.barra-acessibilidade ul div {
        flex-direction: column;
        gap: 1rem;
    }
    .barra-acessibilidade button, .barra-acessibilidade .form-check-label {
        font-family: unset;
        color: #343A40;
        margin-top: 10px;
        padding-bottom: 5px;
    }
    .periodic-table {
        overflow-x: scroll;
    }
}
@media (max-width: 740px) {
    .busca-visualizacao {
        grid-template-columns: 1fr;
    }
    #modalSobre .modal-dialog,
    .modal-dialog {
        max-width: calc(100vw - 20px);
    }
}
@media (max-width: 576px) {
    .header,
    .busca-visualizacao {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    nav button.navbar-toggler {
        margin-left: 1rem;
    }
    .tittle img {
        height: 42px;
    }
    .h4 {
        font-size: 18px;
    }
    #formPesquisa {
        height: fit-content;
        border-radius: 26px;
        padding-bottom: 3px;
    }
    #formPesquisa .barra {
        width: 100%;
        height: 1px;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        margin-bottom: 4px;
    }
    #filtroSerie,
    #formPesquisa .form-floating > .form-select ~ label {
        padding-left: 22px;
        width: 100%;
    }
    #formPesquisa .form-floating:not(#formPesquisa .form-floating.flex-fill) {
        max-width: calc(100% - 97px);
    }
    #optionsView,
    #visualizacao {
        width: 100%;
    }
    #optionsView .form-floating {
        width: calc(100% - 50px);
    }
    #nomeFiltro {
        border-radius: 26px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    #filtroSerie {
        border-bottom-left-radius: 26px;
    }
}